<% movies.each do |m| %>
  <h3><%= link_to "#{m.title} (#{m.year})", movie_path(m) %></h3>
  <%= image_tag m.poster_url %>
  <% if m.current_inventory > 0 %>
    <p><%= pluralize(m.current_inventory, 'copy') %> in store</p>
  <% else %>
    <p>Out of stock</p>
  <% end %>
  <% if admin? %>
    <%= link_to 'Edit', edit_movie_path(m) %>
  <% end %>
<% end %>