<div class="row space-top-more">
  <div class="col s12 m10 l8 offset-m1 offset-l2">
    <div class="card-panel">
      <h4 class="center-align">Register Customer</h4>
      <%= render 'common/errors', obj: @customer %>
      <%= render 'form' %>
    </div>
  </div>
</div>