@import "materialize";

.space-top {
  margin-top: 20px;
}

.space-top-more {
  margin-top: 50px;
}

.no-space {
  margin: 0px !important;
}

.page-title {
  margin-bottom: 20px;
  padding: 0 0.75rem;
}

.no-padding {
  padding: 0px;
}

.card-content-customize {
  padding: 18px 24px !important;
}

.poster-image {
  max-width: 100%;
}