<h4 class="page-title"><%= @category.name %> Movies</h4>
<% if admin? %>
  <div class="right-align">
    <%= link_to 'Edit', edit_category_path(@category) %>
  </div>
<% end %>
<%= render 'movies/list', movies: @movies %>
<div class="space-top center-align">
  <%= will_paginate @movies %>
</div>